/* Styles specific to Traffic Lights page */
@import url('static/css/styles.css');

.traffic-lights-list {
    padding: 20px 0;
}

.traffic-lights-list h2 {
    font-size: 24px;
    margin-bottom: 20px;
}