
.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    overflow: hidden;
    border-radius: 10px;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.project-card img {
    width: max-content;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.project-card .card-body {
    background-color: #c2c2c2;
    padding: 20px;
}

.project-card .card-title {
    margin-bottom: 15px;
    font-size: 1.25rem;
    font-weight: bold;
}

.project-card .card-text {
    color: #6c757d;
    margin-bottom: 15px;
}

.project-card .tech-badges {
    margin-bottom: 15px;
}

.project-card .tech-badge {
    display: inline-block;
    padding: 5px 10px;
    font-size: 0.8rem;
    background-color: #007bff;
    color: #bbbbbb;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}